flask
gunicorn; platform_system != "Windows"
requests
gspread
google-auth
openai
Pillow
openpyxl
lgpio; platform_system == "Linux" and (platform_machine == "armv7l" or platform_machine == "aarch64")
spidev; platform_system == "Linux" and (platform_machine == "armv7l" or platform_machine == "aarch64")
